In [9]:
import psycopg2
from sqlalchemy import create_engine, text

In [10]:
DATABASE_URL = "postgresql://jinwonie:KxmiEMEdIFMChoZERBoQSbQ7OXIIKHId@dpg-cujj6fl2ng1s73b7jg1g-a.singapore-postgres.render.com/prompt_acc_calc"
engine = create_engine(DATABASE_URL)
conn = engine.connect()

In [ ]:
create_sql = """
CREATE TABLE image_acc (
    id SERIAL PRIMARY KEY,
    usr_nm VARCHAR(100) NOT NULL,
    phone_num TEXT NOT NULL,
    acc NUMERIC NOT NULL,
    img_data BYTEA
);
"""

sql = text(create_sql)

conn.execute(sql)
conn.commit()

In [11]:
import pandas as pd

sql = "SELECT * FROM image_acc"
pd.read_sql(sql, conn)

,id,usr_nm,phone_num,acc,img_data
0,1,천진원,01031653848,59.64,"[b'\x89', b'P', b'N', b'G', b'\r', b'\n', b'\x..."